$content-fontcolor:#333;
$content-notice-fontcolor: #777;
$content-bgcolor:#F1F1F1;
$search-input-bgcolor:#F5F5F5;
$search-input-color:#B7B7B7;
$bgColor:#fff;
$light-fontcolor:#999;
$medium-fontcolor:#666;
$btn-color:#0091ff;
$hightlight-fontColor:#E93B3B;
$wrapper-bgcolor:#eee;